/ChuaBaiLab1/nbproject/private/
/ChuaBaiLab1/build/
/DemoLab2/nbproject/private/
/DemoLab2/build/
/DemoBaiTapLab2/nbproject/private/
/DemoLab3/nbproject/private/
/DemoLab3/build/
/DemoBTVNLab3/nbproject/private/
/DemoBTVNLab3/build/
/DemoKeThua/nbproject/private/
/DemoKeThua/build/
/DemoInterface/nbproject/private/
/DemoBTLab4/nbproject/private/
/DemoLamda/nbproject/private/
/DemoLamda/build/
/DemoVo/nbproject/private/
/DemoVo/build/
/DemoExxxxx/nbproject/private/
/DemoExxxxx/build/
/DemoThread/nbproject/private/
/DemoThread/build/
/DemoDaLuong/nbproject/private/
/DemoDaLuong/build/
/DemoCollectionAPI/nbproject/private/
/DemoCollectionAPI/build/
/DemoFileIO/nbproject/private/
/DemoFileIO/build/
/DemoSocket/nbproject/private/
/DemoSocket/build/