/ChuaBaiLab1/nbproject/private/
/ChuaBaiLab1/build/
/DemoLab2/nbproject/private/
/DemoLab2/build/
/DemoBaiTapLab2/nbproject/private/
/DemoLab3/nbproject/private/
/DemoLab3/build/
/DemoBTVNLab3/nbproject/private/
/DemoBTVNLab3/build/
/DemoKeThua/nbproject/private/
/DemoKeThua/build/
/DemoInterface/nbproject/private/
/DemoBTLab4/nbproject/private/
/DemoLamda/nbproject/private/
/DemoLamda/build/